.card-img-top {
  opacity: 0.2;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.name {
  top: 10%;
  left: 50%;
  transform: translate(-0%, -200%);
  -ms-transform: translate(-20%, 0%);
  text-align: center;
  color: white;
  font-size:30px;
  
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}

.containeri:hover .card-img-top {
  opacity: 1;
}

.containeri:hover .text {
  opacity: 0;
}

.containeri:hover .name {
  opacity: 1;
  position: absolute;
  top: 90%;
  left: 20%;
  font-family: arial;
  font-size: 20px;
}
.containeri:hover .nom {
    visibility: hidden;
}

.text {
  background-color: white;
  width:250px;
  font-family: arial;
  color: black;
  font-size: 32px;
  padding: 1px 2px 1px 2px;
  border-radius:10px;

}

.nom {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    opacity: 1;
}

.orange
{
    color: #ff7a00;
}

.containeri:hover .name
{
  opacity:1;
  transform: translate(-10%, 20%);
  -ms-transform: translate(30%, 20%);
  text-align: center;
}


/*.table {
  align-content: center;
  text-align: center;
}*/

.imageter{
  float: right;
}


.fwdead {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom: 10px;
}


.float-right{
    float: right;
}

.card{
    margin-bottom: 10px; 
}

.card .row {
    padding: 10px;
}

button{
    margin-bottom: 10px;
}

footer p {
    color: white;
    padding-top: 10px;
}

footer ul {
    list-style-type: none;
    color: #fff;
}

footer ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 85%; 
}

.badge {
    font-size: 125%;
    margin-bottom: 10px;
}

.rob-btn {
        
        padding: .25rem .5rem;
        font-size: .675rem;
        line-height: 1.5;
        border-radius: .2rem;
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;

}

.pills {
    text-align: center;
}

.card1 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	opacity: 0.5;

}

.card1:hover {
    opacity: 1;
}

.card-img-overlay {
    color: white;
}

.card-img-overlay h5 {
    background-color: black;
    padding-top: 5px;
    text-align: center;
    border-radius: 10px;
    line-height: 60px;
    opacity: 0.9;
    display: none;
}

.card-img-overlay:hover h5 {
    display: block;
    opacity: 1.5;
    font-weight: bolder;
}

.card-img-overlay h4 {
    background-color: black;
    margin-top: 120px;
    text-align: center;
    border-radius: 10px;
    line-height: 60px;
    opacity: 0.9;
    display: none;
}

.card-img-overlay:hover h4 {
    display: block;
    opacity: 1.5;
    font-weight: bolder;
}

